 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
 }
 body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    
 }