* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

body::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35%; 
  background: linear-gradient(to top, #cce0ff, #b3d9ff);
  z-index: -1;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em; 
    
    background: #ffffff;
    border: 2px solid #777777;
    border-top: none;
    border-radius: 10px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.2);
    
    position: relative;
    

    padding: 4.5em 3em 2.5em 3em;
    width: 500px; 

}

.container::after{
    content: 'home';
    font-weight: 600;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;

    background-color: #333;
    border: 2px solid #333;
    color: white;
    text-align: left;
    
    padding: 8px 15px;

    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}


h1.timer {
    font-size: 2.8rem;
    font-weight: 700;
    color: #000; 
}


h1.timer span {
    font-weight: 400; 
    color: #5b9dff; 
}


hr {
    display: none;
}


p#timer {
    font-size: 6.5rem;
    font-weight: 700;
    color: #000;
    margin: 0.2em 0; 
}


.button-wrapper {
    display: flex;
    gap: 1.5em; 
    margin-top: 1em;
}


button {
    background-color: white;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 8px solid black; 
    border-radius: 5px;

    padding: 0.7em 1.8em;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease;
}


button:active {
    transform: translateY(2px);
    background-color: #f0f0f0;
}