* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    background: linear-gradient(
        to bottom,
        white 0%,
        white 65%,

        #cce0ff 65%,
        #cce0ff 100%
    );
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em; 
    
    background: #ffffff;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.1);
    
    position: relative;
    

    padding: 4.5em 3em 2.5em 3em;
    width: 500px; 

    overflow: hidden;
}

.container::before {
    content: 'home';
    font-size: 2.8rem;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: #333; 
    color: white;
    font-size: 0.8rem;
    text-align: left;
    
    border: 2px #333;
    padding: 8px 15px;

    border: none;
}


h1.timer {
    font-size: 2.8rem;
    font-weight: 700;
    color: #000; 
}


h1.timer span {
    font-weight: 400; 
    color: #5b9dff; 
}


hr {
    display: none;
}


p#timer {
    font-size: 6.5rem;
    font-weight: 700;
    color: #000;
    margin: 0.2em 0; 
}


.button-wrapper {
    display: flex;
    gap: 1.5em; 
    margin-top: 1em;
}


button {
    background-color: white;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 8px solid black; 
    border-radius: 5px;

    padding: 0.7em 1.8em;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease;
}


button:active {
    transform: translateY(2px);
    background-color: #f0f0f0;
}